###########  FILES  ############
flights_api_priceline_com2_*.json

########### PYTHON #############
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/

# Unit test / coverage reports
test/reports/

# Environments
.env

# Linting
.ruff_cache/

########### VS CODE ############
.vscode/settings.json
